[2017-10-18 23:45] ryanbelisle opened #1 "Does this work replacing Library symbols with the same symbols in another Library?"
Let's say I have a COMPONENT library w/ 30+ icons.
In **Sketch File A** - I insert a ton of the shared icons into the document.

Tomorrow a decision is made to move the icons in the COMPONENT library into a separate ICONS library.

Is it possible to select all the shared icon symbols pointing to the COMPONENT library to the ICONS library?

[2017-10-19 00:18] sonburn commented on #1
Yes, this plugin will allow you to remap all the instances pointing to your original library, to the new library (as long as there is a symbol of the same name in the new library).

[2017-10-24 00:33] #1 closed

[2017-10-27 09:21] johnthachil opened #2 "Question: Is there a way to select all symbols in the document and swap together, rather than swapping each symbols one by one?"

[2017-10-27 14:43] sonburn commented on #2
https://github.com/sonburn/symbol-instance-locator

[2017-11-07 12:22] willowbrae opened #3 "Will it support libraries?"
Will it support libraries?

It is a nightmare right now in Sketch to change all of the symbols from local to the library ones. This plugin could save a ton of hours if we could swap all the symbols with the same name to the selected one (or all with the same name).

[2017-11-07 12:30] sonburn commented on #3
Yes, it supports libraries. 🙂

[2017-11-07 12:30] #3 closed

[2017-11-07 13:12] willowbrae commented on #3
You just saved my life :)
Do you plan to do "one click > replace all" ?

[2017-11-07 13:20] sonburn commented on #3
Yes, it's likely the next update.

[2017-11-07 15:09] willowbrae opened #4 "Loosing overrides in mass swap"
When I swap symbol and its copies with the one from a library only the first one keeps its overwrites. _Swap siblings & overrides of selected instances_ is on.
Sketch when swapping local symbols has similar problem - is it them?

[2017-11-07 17:46] sonburn commented on #4
There _are_ some quirks with deeply nested overrides, but simple overrides should have no problems. Overrides are generally very brittle though. Sometimes, reapplying the override symbol (in the case of a nested override) will correct the issue, other times I have had to manually correct the problems. I am researching improvements that can be made.

[2017-11-09 18:57] RaphyRaph opened #5 "Request - Enable swapping non-symbols and retain dimensions"
When updating a file with a new component, you sometimes need to swap normal groups to a symbol. You can already do that using the "replace layer with" command, but that doesn't retain the dimensions of the layer you're trying to replace, like it would on a symbol.

[2017-12-08 23:48] sonburn commented on #5
@RaphyRaph I think Sketch 48 will do this for you now - https://www.sketchapp.com/updates/#version-48

"When replacing a layer with a Symbol, the Symbol now inherits the same size as the previous layer"

[2017-12-08 23:49] #2 closed

[2017-12-08 23:49] #4 closed

[2017-12-08 23:49] #5 closed

[2017-12-15 15:35] RaphyRaph opened #6 "Doesn't swap symbols with changed naming"
With Sketch 48, I assume Symbols now have some kind of unique ID to be able to copy paste between files. Is there a way symbol swapper could use that ID as well? I have a lot of cases where symbols have been detached, renamed in the master, and now they can't be swapped unless you select each symbol manually, which is very time consuming.

[2018-02-15 18:28] tijmenvangurp commented on #6
+ one for swapping based on symbolID see https://github.com/BohemianCoding/SketchAPI/blob/develop/docs/SymbolMaster.md

[2018-02-28 16:44] clabap opened #7 "Feature Request"
Any possibility of adding support for swapping nested libraries? Example: Let's say a components library is using few themes (colors) libraries. On my project file I use the components library but I'm able to swap between the nested themes library. Doable?

[2018-03-16 20:46] craveytrain opened #8 "Symbol Swap Libraries not finding symbol masters of the same name in different libraries"
I'm having issues with the swap library functionality. I have 2 libraries that have symbol masters of the same names (they are generated from the same source code). I have also have a Sketch file where I am referencing the masters from 1 of those libraries. When I try to swap them, it tells me they weren't found in the new library.

Is it keying on something different than the name of the symbol m

[2018-03-23 20:37] WalleyeAU opened #9 "Feature Request - Ignored Symbols"
Hi Jason!

I was hoping to get a feature enhancement into your backlog. When you do a symbol swap to another library, sometimes a symbol gets ignored because it doesn't exist in the new library. What would be really helpful is an indication of which symbol it is.

Ideally, something like your Symbol Instance Locator dialog to show and access multiple ignored symbols. What would be amazing is both

[2018-03-31 02:21] sonburn commented on #9
@WalleyeAU Thank you for the feedback and suggestion, and thanks for using my plugins. I will consider this as an enhancement.

[2018-03-31 02:31] sonburn commented on #7
@clabap Unfortunately it's not doable considering the way symbols work with libraries. For example, if you have a swatch symbol in Library A, which is used in a component symbol in Library B, the swatch symbol is actually added to Library B as an imported symbol. Then, if you use that component symbol in your working document, it's actually importing the component symbol _and_ the swatch symbol fr

[2018-03-31 02:41] sonburn commented on #6
@RaphyRaph and @tijmenvangurp, sorry it's taken so long to respond...

Symbol Swapper only looks for a symbol of the same name. You would have to use the Symbol Swap Selections portion of the plugin to swap the selected symbol (and siblings) with any symbol from any library.

I will consider an enhancement to allow for matching names and IDs. Thank you for the feedback and for using Symbol Swapper

[2018-03-31 02:44] sonburn commented on #8
@craveytrain Symbol Swapper definitely only looks for a symbol of the same name. Is this still an issue you are experiencing? If so, are you able to provide an example file as I have not run into this issue?

[2018-04-06 16:49] #7 closed

[2018-04-09 08:55] tijmenvangurp opened #10 "Not swapping nested symbols"
Dear Sonburn,

First of all amazing plugin. I think you already provided me with some helpful answers on sketchplugins.com Hope you are able to help me on this bug as well and in the meantime improve your plugin.

I prepared a sketch file and video demonstrating the issue I found.

[https://www.dropbox.com/s/ef294ww3y1hyb3y/nested-symbols-issue.zip?dl=0](https://www.dropbox.com/s/ef294ww3y1hyb3y/n

[2018-05-01 10:02] tijmenvangurp commented on #10
@sonburn Any thoughts on this?

[2018-05-10 23:08] sonburn commented on #8
Closing due to lack of response.

[2018-05-10 23:08] #8 closed

[2018-05-10 23:09] sonburn commented on #6
@RaphyRaph, @tijmenvangurp, I just published an update to address some Sketch 50 things, and in this update you will find an option to swap symbols by ID. Can you give it a spin and let me know if it's working as you would expect?

[2018-05-11 17:06] sonburn commented on #10
@tijmenvangurp, sorry for the delayed response.

If the symbol containing nested symbol(s) is a local symbol, meaning it exists on the Symbols page (or in the document somewhere), then the nested symbol _will_ be swapped with Symbol Swapper.

If the symbol containing nested symbol(s) is a foreign symbol, meaning it exists in a Library, then the local version of symbol actually exists in the foreig

[2018-05-15 01:43] sonburn commented on #9
@WalleyeAU, please check out the latest version (0.11) as I have added a report of ignored symbols (as well as the ability to swap all symbols from current document to library).

[2018-05-15 10:37] RaphyRaph commented on #6
thxxx! I'll give it a try

[2018-05-22 13:50] mapper44 commented on #6
Im finding once i swap the symbol from the local symbol to the external symbol, the instances where its used are not updated and instead im finding lots of 'missing symbol' text stamped across designs... I thought the intention with this plugin was to replace a local symbol with an external symbol with the changes reflected across the file where that symbol is used?  Can someone please clarify?

[2018-05-22 14:21] sonburn commented on #6
@mapper44 Is this your experience with all libraries, or just one particular library?

[2018-05-25 15:18] tijmenvangurp commented on #10
Hey @sonburn Thanks for your answer. I think the use case that I have is quite specific. Will let you know if I find an answer on this! I am fine if you close this issue as this is probably not the intent of your plugin.

[2018-05-25 15:19] #10 closed

[2018-06-29 01:37] marcushasfun opened #11 "Can't select ignored symbols from deleted libraries"
I recently had a lot of Zeplin export problems because of symbols that were referencing deleted libraries.

Symbol Swapper can see them, but they show up in the report as foreign, and therefore un-selectable.

<img width="535" alt="screen shot 2018-06-28 at 6 05 16 pm" src="https://user-images.githubusercontent.com/5115492/42068468-0d1c19ca-7b01-11e8-86b5-3e48d0f2331e.png">

It would be great if t

[2018-07-12 13:33] patrickplaggenborg commented on #11
Need the same.

'Foreign' symbols are detected. But they can't be clicked to find where in the current Sketch document they are used.

Can't find them based on the name. Can't fine them using the name using the Runner plugin.

Need to find them to either delete them or replace them with the correct Library symbol.

Would it be possible to allow clicking on these foreign symbols in the report to ju

[2018-07-15 20:24] josefrichter opened #12 "Symbol Swap Libraries based on name vs on ID"
@sonburn it seems like when using "Symbol Swap Libraries" option, the symbols are swapped solely based on their ID, and the name of the symbol is ignored?

Example:
I had "mySymbol" and "alternate/mySymbol" in a single library. When I moved all my "alternate/..." symbols to a separate library and renamed them removing the "alternate/..." prefix, the "Symbol Swap Libraries" command doesn't work on

[2018-07-16 08:42] agnethesh commented on #12
Having the same issue. We are going to switch from one library to another, so I renamed all the symbols in the old library to match the new one. When I try using "Symbol swap libraries" a lot of the symbols are ignored, and it may be because they dont have the same symbol ID. Would be so good if you could choose to switch out the symbols based on the name, like in the "Symbol swap selections".

We

[2018-07-16 16:35] josefrichter commented on #12
I'm still on Sketch 50.2 and having this issue. As @agnethesh mentioned, when swapping selection, you can choose name vs ID, but not when swapping the whole library.

[2018-07-17 20:12] griffincherry opened #13 "Feature Request: Swap Library Text Styles"
Hey there,

Your plugin's been a lifesaver for me!

I have a design system and workflow for creating a bunch of white-labeled applications. What I have now is one set of Sketch files that contain the screens for each application, and then a Library file that contains all the re-usable symbols that are used across those files. What I do is make a copy of that Library, modify the symbols for a diffe

[2018-07-18 11:37] abertossi opened #14 "Lost overrides after swapping"
• duplicated symbol page into library file (hosted in Abstract)
• swapped all symbols with ones from library
• lost majority of overrides (in nested symbols)

• all symbols names have remained the same

![image](https://user-images.githubusercontent.com/26751040/42879076-3df51764-8a87-11e8-9830-35762ed43dc3.png)

[2018-07-18 14:55] josefrichter commented on #14
+1 this issue. but it seems to be a Sketch problem. I think it sometimes happens even if you have 2 versions of the same symbol (e.g. just different color) and they have exactly the same nested symbols. Sometimes swapping one for another just doesn't "remember" which of the nested symbols were selected, and instead displays either this "missing symbol" or just selects the nested symbol that is use

[2018-07-24 08:36] dumptiness opened #15 "Window height (display a lot of libraries)"
It's a recurrent problem I have but the plugin is unusable when there's a lot of libraries involved.

It can only display as much libraries as it can depending on the height of the monitor. I have to select the wider scale to gain a spot and then there's just no more options. **Can't it be scrollable?**
Also, the buttons appeared on the back so the selects are displayed on top which is problematic

[2018-07-24 17:15] sonburn commented on #15
@dumptiness Thanks for bringing this to my attention... I will improve this.

[2018-07-25 07:58] dumptiness commented on #15
Thanks for the quick reply!
This plugin literally saves me hours of work so good job for developing it 👍

[2018-07-25 13:22] vincmac commented on #13
Library style synch would be awesome!

[2018-07-31 03:57] justinspencer opened #16 "Replacing Library symbols with the same symbols in another Library"
I'm trying to use Symbol Swap Libraries so I can replace all the symbols from Library A with the same (named) symbols in Library B. The dialogue box tells me that the symbols have been swapped and the path to new library changes however the symbols remain unchanged.

Symbol Swap Selections seems to work OK but it won't include overrides

Am I doing something wrong?

Sketch 51.1
High Sierra 10.13.6

[2018-07-31 04:05] sonburn commented on #16
@justinspencer do you have an indicator to update symbols after running the plugin?

[2018-07-31 04:15] justinspencer commented on #16
This is all I get.

![screen shot 2018-07-31 at 2 14 47 pm](https://user-images.githubusercontent.com/936597/43437396-292fd6f8-94cc-11e8-872c-13fb5225c651.png)

[2018-07-31 04:33] justinspencer commented on #16
Yep all good. Works perfectly. Thanks

[2018-07-31 05:54] justinspencer commented on #16
https://vimeo.com/282438828

[2018-07-31 18:38] sonburn commented on #16
@justinspencer Vimeo link doesn't seem to resolve, but glad the plugin is working for you! I should really let the user know, after running Symbol Swapper on libraries, that they may need to update their symbols after running the plugin.

[2018-07-31 18:38] #16 closed

[2018-08-01 00:46] justinspencer commented on #16
@sonburn I agree, might be worth adding a little note to let people know that they need to update their symbols. Thanks again for your help. @agnethesh yep as long as the Symbols are the same name it's all good. The screen recording I did should work now. https://vimeo.com/282438828

[2018-08-01 19:29] sonburn commented on #15
@dumptiness The library swapping window is now scrollable in version 0.12. Please update and let me know what you think!

[2018-08-01 21:47] sonburn commented on #12
@josefrichter, @agnethesh Thanks for the feedback. The library swapping portion of Symbol Swapper currently swaps based on ID. I have created a new version of Symbol Swapper which allows you to swap libraries based on names. Mind testing it for me? https://www.dropbox.com/sh/nuwc6lt7cxfpfab/AAD5gCxfS00Lt4_CtFLDM369a?dl=0

[2018-08-02 13:17] sonburn commented on #12
@agnethesh I tested this thoroughly and I was able to verify it worked before sharing it. I am on Sketch 51.2. Are you using the full symbol name? For example "Icon/Tabbar/Home"... not just "Home"?

[2018-08-02 13:57] agnethesh commented on #12
I am using the same sketch version as you, and yes they have the exact same names in the libraries. Would also note that we are using abstract, but I'm guessing that doesn't matter.

Wondering why it would work on selection swapping and not on library swapping?

[2018-08-02 16:43] sonburn commented on #12
@agnethesh When you say "nothing happens", do you literally mean nothing? Or does the dialog window at least display saying "0 symbols were swapped".

[2018-08-02 17:10] agnethesh commented on #12
I mean that actually nothing happens. There is maybe 1 second delay when I press the button for swapping, and then I am back to my sketch file with no dialog and no changes

[2018-08-03 06:27] agnethesh commented on #12
Of course! This is the output I get:

*** -[__NSArrayI objectAtIndex:]: index 18446744073709551615 beyond bounds [0 .. 1]
 «Plugin Output»

[2018-08-03 09:36] eyeruham opened #18 "Plugin Crashes"
In the new version, the plugin crashes.

To reproduce:

1. Open Symbol Swapper
2. Symbol Swap Libraries
3. Select a Library and try to swap to another
4. Click 'Swap'

Result: plugin crashes. Sometimes this even happens in between step 3 and step 4

[2018-08-03 15:03] sonburn commented on #18
@eyeruham What is your Sketch version and can you confirm your plugin version?

[2018-08-03 15:04] sonburn commented on #18
@eyeruham Can you also do the following to help me figure out whats going on?

1.	Open Utilities > Console.app
2.	Expand ~/Library/Logs in the left window, and select com.bohemiancoding.sketch3
3.	Run the plugin in Sketch, if there was an error it will appear in the right window of Console, in a file called Plugin Output.log. (If there was already a Plugin Output.log file, select it and select Cle

[2018-08-03 15:05] eyeruham commented on #18
@sonburn we are experiencing the issue on Symbol Swapper 0.12 and on both Sketch 51.1 and 51.2

[2018-08-03 15:06] sonburn commented on #12
@agnethesh Thanks for that, unfortunately it's not very helpful :(. Let me see what I can do...

[2018-08-03 15:07] sonburn commented on #18
If your log result is similar to https://github.com/sonburn/symbol-swapper/issues/12#issuecomment-410157619, then at least we know the issue is related.

[2018-08-03 15:10] eyeruham commented on #18
TypeError: alertWindow.buttons is not a function. (In 'alertWindow.buttons()', 'alertWindow.buttons' is undefined)
line: 518
sourceURL: /Users/Eyal/Library/Application Support/com.bohemiancoding.sketch3/Plugins/Symbol Swapper.sketchplugin/Contents/Sketch/script.cocoascript
column: 24
stack: comboBoxSelectionDidChange:@/Users/Eyal/Library/Application Support/com.bohemiancoding.sketch3/Plugins/Symbo

[2018-08-03 15:50] sonburn commented on #18
@eyeruham What version of Mac are you on? You weren't having an issue before version 0.12?

[2018-08-03 15:58] eyeruham commented on #18
10.13.6 and I didn't have any issue on previous version

[2018-08-03 16:35] sonburn commented on #12
@agnethesh I think I figured out the issue, please check this version and let me know...

https://www.dropbox.com/sh/jdqx861z90bb8lp/AAAGiswAYeX7InCgRrqq8nbDa?dl=0

[2018-08-03 16:47] sonburn commented on #18
@eyeruham Can you try this version and let me know if it works for you?

https://www.dropbox.com/sh/2358pw7fo3bpjio/AAA93OZqBMo6N41bUkZisA7za?dl=0

[2018-08-03 18:54] sonburn commented on #18
@eyeruham I've gone ahead and pushed the fix, as there is no harm either way and I believe it would solve your issue. Please check out version 0.13 which should show up as an update in Sketch. I will take down the link above.

[2018-08-03 19:10] eyeruham commented on #18
That resolved the issue, thanks a lot @sonburn!

[2018-08-03 19:10] #18 closed

[2018-08-03 19:20] sonburn commented on #12
@agnethesh I have gone ahead and published this functionality as I tested it pretty thoroughly while troubleshooting your issue, as well as another unrelated bug. Please give version 0.14 a spin and let me know how well it works for your needs. I will go ahead and delete the previous comment with link to test build.

[2018-08-03 19:21] #15 closed

[2018-08-03 19:23] sonburn commented on #6
Just closing the loop here... recent updates to Symbol Swapper now allow you to swap individual symbols or whole libraries, using symbol names or symbol object IDs. Will now close this issue.

[2018-08-03 19:23] #6 closed

[2018-08-03 19:24] #9 closed

[2018-08-03 19:35] sonburn commented on #11
@marcushasfun, @patrickplaggenborg Thanks for the feedback, I will consider adding more functionality around the ignored symbols report to make it easier to take action on them.

[2018-08-03 19:37] sonburn commented on #13
@griffincherry , @vincmac I am looking into handling library styles as well. Thanks for the feedback, and for using Symbol Swapper.

[2018-08-03 19:40] sonburn commented on #14
@abertossi Are you still having issues? I don't use Abstract, I don't know if that could be causing problems or not. Please try the latest versions of the Symbol Swapper (version 0.14 is now available), and see if that solves anything for you. Nested symbols and overrides shouldn't have data loss as long as the layer structures and names are similar.

[2018-08-06 08:15] agnethesh commented on #12
Hey again @sonburn! Now we can swap out our symbols by name, and we get the report and everything. But still having some problems.

So the case is: We use a library with a lot of components, but our project is suppose to updates its styles to a more modern look. There have been made a separate library with these new symbols that we want to switch over to.

When we use the symbol swapper by library

[2018-08-08 09:40] josefrichter commented on #12
Hi @sonburn the latest update seems to be working just fine, thank you!

One more thing™ I am curious about is whether the symbol swapper could/should work with nested symbols? Suppose I have a parent symbol and its children in one library. And then I have another library with a different version of the children. Is there a way to swap just the children ("overrides"), while keeping the parent? Tha

[2018-08-14 18:26] quentin41500 opened #19 "Feature - Keep New Symbol Source After Deletion Of Duplicates"
I'm trying to replace a set of symbols by one that is part of the selected items. Those are identical and duplicated items. When selecting the new symbol source from the drawer in the symbol swap selections modal, I cannot tell which symbol is which, that is why I'm selecting all, including the symbol source.

Current Behavior:
- The New Source is getting deleted even when selecting it as new sour

[2018-08-20 15:57] jesscp13 opened #20 "Library Swapper Stopped Working"
After using the plugin all morning (thank you!) it has suddenly stopped working. Any ideas on what I could do?

[2018-08-25 00:31] txcrew commented on #20
Confirmed the same issue using Sketch 51.2 (57519). "Swap Symbol Libraries" brings up the dialog, I can successfully select which libraries to swap. Then on submit I get the messages "0 symbols have been swapped to new libraries" and I may have to update the libraries with the "update library" button in Sketch. Though no symbols have been swapped and "update library" never appears.

[2018-08-29 08:59] koester commented on #14
I just tested it with v0.14 and the issue still exist.

When I have a symbol library in Abstract and import the symbols into a project the overrides are gone.

[2018-08-30 09:24] thijsdemooij opened #21 "Feature - Swap symbols by name containing a certain word"
When you have a library with different 'themes', for instance `dark` and `light`, it would be really powerful to be able to swap multiple symbols when the name contains a certain word.

For instance, I have these symbols:
`Forms / Input / Checkbox / Dark`
`Button / Primary / Dark`

I would like to swap them with these symbols:
`Forms / Input / Checkbox / Light`
`Button / Primary / Dark`

Some sort

[2018-09-13 16:35] creativechris08 commented on #14
I’ve been getting this problem with my text symbols through shared library’s (using abstract) on sketch 51.3 & 51.2. My text symbols are within nested overrides. Symbol swapper also refuses to swap local  symbols that are currently in use on the design under the option “swap by name” & “swap by ID” :(

[2018-09-19 06:08] avdgriendt commented on #13
I could really use this as well :)

[2018-09-21 10:12] illustree opened #22 "Killer feature: unlink from library"
it would be so so so awesome to have a feature here in this dropdown to simply “unlink” from library and include in the document as symbols ... working on files from clients or collegues sometimes the libraries are just not managable or outdated or simply lost ... still you want to update the symbol ... in bigger files though it is sometimes not so easy to find those symbols. but having it here wo

[2018-09-25 18:19] sahilc0 opened #23 "Sketch crashes after clicking the dropdown for picking what library to swap from"
As soon as I click the dropdown for which library to swap from, Sketch becomes unresponsive and then crashes. Mac Mojave, Sketch 51.3.

Any ideas?

[2018-09-27 19:04] usethetics opened #24 "“Set to Original Size” after swapping symbols"
Would it be possible to add an option to set all symbols to their original size after swapping?

The use case for this is swapping one skin’s symbols for another (from another library) which has different dimensions, margins, and padding due to typeface differences.

Currently this is possible to do within Sketch by selecting all symbols that have been swapped > right clicking > choosing “Set to O

[2018-10-04 16:14] viv030987 opened #25 "Need an ability to export"
It would be ideal to have an ability to export the layers that don't get swapped from the popup

[2018-10-10 09:19] danielwallem commented on #13
I would also love the shared styles from a library moving over too.

[2018-10-11 13:40] sonburn commented on #13
@griffincherry, @vincmac, @avdgriendt, @danielwallem https://twitter.com/sonburn/status/1050098000566083584

[2018-10-12 16:10] geekfast opened #26 "Performance Issued on Sketch 52"
usually trigger a hang by clicking into other application and then alt tabbing back to sketch. Almost always hangs for 3-10 seconds.

[2018-10-15 03:36] sonburn commented on #13
📣 Style Swapper plugin is now available (github.com/sonburn/style-…). In this first version, you can swap the style of the selected layer to a style in a library (or move it to the library). The ability to swap/move all styles at once is coming soon! Let me know what you think!

[2018-10-16 05:13] avdgriendt commented on #13
Thanks @sonburn I'm really in . need of the swap/move all styles. Looking forward to it.

[2018-10-16 05:18] danielwallem commented on #13
Looking forward to this update, will make my life easier for sure.

[2018-10-16 14:04] griffincherry commented on #13
Me too. Thanks so much for taking this on.

-g

[2018-11-16 16:41] leolav opened #27 "Font and Layer style"
Hello, very very nice plug in. But when I try to change a library with an other on, it change the symbole very well but no text style and layer style.

I work on sketch 52.4

Regards, L.LAVAIL

[2018-12-05 20:39] nickywalsh opened #28 "Duplicate Symbols showing in 'Let me choose...' dropdown list - resulting in Missing Symbols"
Thanks for creating a great plugin!

I'm experiencing issues where I get Missing Symbols after using Symbol Swapper (no matter whether I use 'by name', 'by ID' or 'Let me choose...')

I've copied an artboard from a separate file into my master file.  As a result, one or two new symbols appear locally in this new file, even though they are Library symbols.

When I use Symbol Swapper to replace thes

[2018-12-11 20:03] lavinejames commented on #13
+1 for swapping all styles!

[2018-12-21 22:31] kbsmth commented on #13
I can't wait for the bulk enhancement!

[2019-01-17 07:20] Mohammedkhan56 opened #29 "Override Symbols Aren't Swapping correctly"
Hi,

I have recently come across symbol swapper for a project that i need to be re-skinned and i am experiencing 2 issues.

I have a current library (Library A) which includes symbols and nested symbols. I have then duplicated  library A to Library A copy and thereafter changed the text colours, icon colours and button colours in their different override states on Library A copy.

• Issue 1

When

[2019-02-06 15:10] ahmedlmahmoud opened #30 "Feature:"

[2019-02-07 16:13] rodnem commented on #13
Hi! Jason
Did you had time to work on batch swapping ?
Thanks

[2019-03-06 01:05] dbrienswann opened #31 "Feature Request - Swap library to current document"
Love the plugin, use it constantly.

The one addition I'd love to have is the ability to select "Current Document" from the Symbol Swap Libraries dropdown menus.

It is very common that I use symbols from linked libraries to begin a project but at completion want to combine everything into a single document for ease of delivery.

Was thinking this could be an easy addition, but as i'm not a develo

[2019-04-10 06:50] tzekin opened #32 "Plug in doesn't update"
Sketch update plug-in dialog says a new version 0.16 is available but it doesn't download. Manually installing the latest version keeps telling me there is an update.

I have seen this problem with many plug ins the problem that do not report the correct version at all places in the code.

[2019-04-10 07:48] lmjabreu commented on #32
It appears that the version number in manifest.json wasn't updated to 0.16.

[2019-04-10 08:35] tzekin commented on #32
Indeed

[2019-04-10 12:56] sonburn commented on #32
@tzekin, @lmjabreu, you guys are absolutely right, I missed the version in the Manifest. Just committed that, thanks for bringing it to my attention!

[2019-04-10 13:05] lmjabreu commented on #32
No worries, thanks a lot for your work!

[2019-04-10 13:10] #32 closed

[2019-04-16 13:17] yuliiayuzefovich commented on #13
Hi! Excuse me6 I have problem with Sketch v. 54.1 and Sketch swapper 0.16
What should I do?

[2019-04-18 04:13] HsiehYulin opened #33 "Symbol Swapper Library not Working"
There is a problem since ver. 0.15, Symbol Swapper Library is not working.
I don't use local symbol, all profile is link to library, when i want to swap from A library to B library, it can't work. But i try Swap Selection, it can work.

I like this plugin very much and use it very often, wish you can fix this problem.
Thank you. #

[2019-04-18 09:16] Luciea commented on #33
Me too 😢

[2019-04-21 11:20] uwings commented on #33
插眼等更……

[2019-04-22 19:36] louiesolomon opened #34 "Symbol Swapper is showing libraries of old / removed symbols"
Symbol swapper is showing deleted symbols and libraries. In the included screenshot, I have 3 symbols in my Sketch file, all of which are from `TEST-ATOMS-NIGHT`. The other libraries have been removed or deleted.

<img width="973" alt="Screen Shot 2019-04-22 at 2 30 44 PM" src="https://user-images.githubusercontent.com/975080/56521809-6da3ae80-650b-11e9-8073-ace30b4c6d71.png">

[2019-04-23 06:31] LenaAlyanova opened #35 "Symbol Swapper (verion 0.16) library not working in the Sketch 54.1"
Hi,
I updated my Sketch to 54.1 version  and I have some trouble with plugin Symbol Swapper.
I can not swapp libraries, if I have  many libraries in my list  ( in the Sketch).
Can you help me, please?

[2019-04-23 10:53] nikolayzaytsev commented on #35
Confirmed. Have the same issue.

[2019-04-23 15:12] sonburn commented on #35
@LenaAlyanova, @nikolayzaytsev, thank you for bringing this to my attention, sorry you are having issues with the plugin. I just published an update which might fix the issue, could you please download and try version 0.17?

[2019-04-23 15:13] sonburn commented on #33
@HsiehYulin, @Luciea, @uwings thank you for bringing this to my attention, sorry you are having issues with the plugin. I just published an update which might fix the issue, could you please download and try version 0.17?

[2019-04-23 15:15] sonburn commented on #34
@louiesolomon If a symbol was in use in your document, but no longer, Sketch will automatically purge the unused symbol from your document when it is saved. Can you confirm this is still occurring after you have saved your document?

[2019-04-23 15:31] nikolayzaytsev commented on #35
Thank you, @sonburn ! It works on my side now.

[2019-04-23 16:06] louiesolomon commented on #34
I'm not sure what caused the issue, but I'm having trouble recreating it now. I've attached the demo files if you'd like to see the issue.
[ATOMS TESTING.zip](https://github.com/sonburn/symbol-swapper/files/3108496/ATOMS.TESTING.zip)

[2019-04-23 16:09] #35 closed

[2019-04-23 16:11] sonburn commented on #34
@louiesolomon I have a feeling it's because the file has been saved now, and the inherent action Sketch takes to purge unused symbols in the foreign symbol cache has occurred. Since you can no longer reproduce the issue, mind if I close the ticket?

[2019-04-23 17:32] louiesolomon commented on #34
Go for it. Thanks for the help.

[2019-04-23 17:33] #34 closed

[2019-04-24 01:01] HsiehYulin commented on #33
＠sonburn thank you for repairing this problem, i already update to version 0.17 and it works, it means a lot to me!!

[2019-04-24 02:28] #33 closed

[2019-04-25 14:26] LenaAlyanova commented on #35
Thank you, @sonburn !

[2019-06-18 06:28] kegelm commented on #14
I have the same problem! Please fix it.

**My problem:**
I have a library A and a library B.
In one separate document i build my entire screens with the library A components.
In the document i override some text, symbols, etc.
When i'm swapping the library, i lost the whole overrides.

[2019-07-03 01:22] jane00 opened #36 "Feature request - compare and merger differences between two version of library"
To let multi memebers improve the library  with out pain.
just like coding merge
example:
origin:1 2 3
member A: 1'  2  3
member B: 1  2'  3
merge result : 1' 2' 3

[2019-07-10 09:55] Raghav789 commented on #13
same here waiting for the global swap

[2019-08-12 19:27] cino321 commented on #13
Hey! This has been so useful for me, thanks! Wondering if there is a way to maintain overrides after you swapped the text style?

[2019-10-10 03:10] dishuxia opened #37 "mobile_icon"

[2019-10-24 14:20] josefrichter commented on #31
I have the same request, but the use case is very different:

- I have quite a big UI library published to sketch cloud
- my library contains documentation, that shows instances of the symbols with some description
- sometimes I accidentally put an instance from the remote library, instead of the current document
- I find out only via "Library Updates Available" that I have some shared library sym

[2019-11-12 21:22] leahschmi opened #38 "Symbol Swap Selections not opening window"
I'm on SKetch Version 59.1 (86144) and latest symbol swapper. I've restarted my computer and sketch but when I highlight one or more symbol and select "Symbol Swap Selections" nothing happens. Symbol Swap Libraries does come up with a window though

[2019-11-13 16:49] leahschmi commented on #38
I just updated to Sketch 60 and still issue remains

[2019-12-10 15:15] mantasster opened #39 "Not possible to link current document for library swapping"
I am updating the design system. Some of the components are linked with another ones. The new design system is not listed in "Symbol Swap Libraries" under as replacement for old library.

[2019-12-16 17:11] terjin opened #40 "Plugin not working in Sketch 61"
No longer shows the success prompt when symbols are swapped nor does it show which symbols couldn't be swapped.

Any ideas on a fix or other plugins that could help?

[2020-01-09 19:57] leahschmi commented on #38
help me :(

[2020-01-26 21:19] dgmaia opened #41 "Resizable window/panel"
Would be possible to make the main window/panel resizable?

The symbols I have been working on all have really long names, its been a bit difficult to work without be able to read its full name.

![Screen Shot 2020-01-27 at 9 58 29 AM](https://user-images.githubusercontent.com/3528298/73141710-f0d1e080-40eb-11ea-8cb4-334a2c00b9c7.png)

[2020-04-01 12:06] Northernfern opened #42 "The dialog closes prematurely when selecting the library"
I'm having problem where the dialog just disappears when I select the library which contains the symbol I want to swap the selected item to. I never get to choose the new symbol.

[2020-04-05 21:07] sonburn commented on #41
@dgmaia I finally found some time to make some long overdue plugin updates, and I think I fixed this issue. Can you download version 0.20 and let me know if your experience is improved?

[2020-04-05 21:10] sonburn commented on #40
@terjin I finally found some time to make some long overdue plugin updates, and I fixed this issue. Can you download version 0.20 and let me know if your experience is improved?

[2020-04-05 22:33] #37 closed

[2020-04-05 22:53] dgmaia commented on #41
Thanks man, definitely better now.
Can't resize the panel but the dropdown list expands to show all items names.
Cheers, really appreciate.

[2020-04-05 23:58] #41 closed

[2020-04-05 23:58] sonburn commented on #41
Glad to hear it, and thanks for using my plugin!

[2020-04-06 07:50] terjin commented on #40
@sonburn just tested, its working now!

Thank you so much @sonburn

[2020-04-06 12:24] #40 closed

[2020-04-06 12:25] sonburn commented on #40
Thank you for confirming, and thank you for using my plugin!

[2020-04-07 12:26] ivanbachev opened #43 "symbol swapping issue in 0.20"
Hello, I noticed some issues after I updated to the most recent version of the symbol-swapper plugin
When I point it to a specific symbol from a library using the “Let me choose…” option - it replaces with a wrong symbol. Even the default option, when swapping with a symbol with same name, ends up swapping with a wrong symbol.

Also, if possible can the “Let me choose…” be a combobox (as before) s

[2020-04-07 13:06] sonburn commented on #43
@ivanbachev I am having a hard time reproducing any issue of the wrong symbol being swapped. Is this something you are able to reproduce consistently?

I'll see what I can do about the dropdown, I was trying to solve an issue where symbol names were being cutoff if longer than the dropdown.

[2020-04-07 14:41] ivanbachev commented on #43
Sure, here is a quick screencast to show the bug:
https://www.dropbox.com/s/kpqi962cocm6p1z/Symbol%20Swapper%200.20%20-%20bug.mov?dl=0

say I have an instance of a library symbol named:
“button / 01 primary / default / 01 text / 01 enabled”

and I want to swap it with:
“button / 02 secondary / default / 01 text / 01 enabled”

what happens instead is that the Symbol Swapper plugin incorrectly ident

[2020-04-07 14:53] ivanbachev commented on #43
As a comparison, see a screencast taken with v 0.19 (downloaded from the GitHub commits) - where the above flow works fine -
https://www.dropbox.com/s/tkess1uxb8q0x4i/Symbol%20Swapper%200.19%20-%20ok.mov?dl=0

[2020-04-07 15:03] ivanbachev commented on #43
The pattern I noticed is that in the v 0.20 example, Symbol Swapper incorrectly shows the current symbol instance name matching the symbol that is +7 positions in the list of all library symbols.
Then it swaps it with a symbol that is -7 positions next to the actually selected symbol for replacement.

[2020-04-10 16:17] ten-tjc opened #44 "No "Symbol Swap Selections" window"
I found that today when I select a symbol and choose "Symbol Swap Selections" no window appears. Version 64 of sketch

[2020-04-24 16:31] s-t-a-t-e opened #45 "Works only once"
I'm updating an old Sketch file to work with a library. Symbol Swapper looked good.
I'm having a problem with an install of the plugin with Sketch 63.1
When I selected a group of symbols in the original file, and use the function "Symbol Swap Selection", it only worked once. A second time, the plugin didn't respond. No alert. Nothing.
Any ideas?

[2020-04-28 12:11] Northernfern opened #46 "'Let me choose' option uses the wrong symbol"
When selecting which symbol to use for replacement with 'let me choose', the function does not use the selected symbol but a different, wrong one. Why is that?

[2020-04-28 17:17] jrapert opened #47 "Symbols not correct on swap"
I have tried multiple times to swap library symbols with document symbols and it's wrong every time.

[2020-04-28 17:18] jrapert commented on #46
Same here. I need this to work. I have too many to replace. Help!

[2020-04-28 17:20] jrapert commented on #43
Was this ever resolved? I'm having the same issue

[2020-04-29 19:56] sonburn commented on #41
@dgmaia I had to revert the plugin to the previous select box implementation (which cut off long names) because we lost the ability to search by typing with the newer select box I implemented.

So as a compromise, I am now setting a tooltip on the select box, which shows the full name of the currently selected item. It's not ideal, but I don't have a lot of options (without expanding the window, w

[2020-04-29 19:58] sonburn commented on #47
@jrapert Apologies, there was an issue with the last version, which I finally got a chance to resolve. Could you please try version 0.21 which I just published?

[2020-04-29 19:58] sonburn commented on #46
@Northernfern Apologies, there was an issue with the last version, which I finally got a chance to resolve. Could you please try version 0.21 which I just published?

[2020-04-29 19:59] sonburn commented on #45
@s-t-a-t-e there was an issue with the last version, which I finally got a chance to resolve. Could you please try version 0.21 which I just published and let me know if you are experiencing the same problem?

[2020-04-29 20:00] sonburn commented on #44
@ten-tjc there was an issue with the last version, which I finally got a chance to resolve. Could you please try version 0.21 which I just published and let me know if you are experiencing the same problem?

[2020-04-29 20:00] sonburn commented on #43
@jorgemartins Apologies, there was an issue with the last version, which I finally got a chance to resolve. Could you please try version 0.21 which I just published?

[2020-04-29 21:33] jorgemartins commented on #43
I can confirm that so far it is working as intended. Also the new scrollable dropdown instead of the select box 👍
thanks for the quick turn around.

[2020-04-29 23:02] sonburn commented on #43
The issue had to do with missing and disabled libraries not being removed from the list of available libraries, this is why the results were offset at times, or other times the plugin would fail. Version 0.21 was a step in the right direction but there was still another issue which I have resolved in 0.22.

[2020-04-29 23:02] sonburn commented on #47
The issue had to do with missing and disabled libraries not being removed from the list of available libraries, this is why the results were offset at times, or other times the plugin would fail. Version 0.21 was a step in the right direction but there was still another issue which I have resolved in 0.22.

[2020-04-29 23:02] sonburn commented on #46
The issue had to do with missing and disabled libraries not being removed from the list of available libraries, this is why the results were offset at times, or other times the plugin would fail. Version 0.21 was a step in the right direction but there was still another issue which I have resolved in 0.22.

[2020-04-29 23:03] sonburn commented on #45
The issue had to do with missing and disabled libraries not being removed from the list of available libraries, this is why the results were offset at times, or other times the plugin would fail. Version 0.21 was a step in the right direction but there was still another issue which I have resolved in 0.22.

[2020-04-29 23:03] sonburn commented on #44
The issue had to do with missing and disabled libraries not being removed from the list of available libraries, this is why the results were offset at times, or other times the plugin would fail. Version 0.21 was a step in the right direction but there was still another issue which I have resolved in 0.22.

[2020-04-30 06:31] Northernfern commented on #46
Great, thanks!

[2020-04-30 06:31] #46 closed

[2020-05-07 21:15] dgmaia commented on #41
Thanks for the heads up
I'm testing right now.

[2020-05-07 21:40] dgmaia commented on #41
Yeah =/
It's not ideal for my use case... tooltip takes a while to popup.
But if you really need to revert to the old way, **it does help**.

I didn't know was possible to type on the field.
When I see a select box, I think that I have to pick an option from a list.
But I couldn't make it work.
Typing something didn't filter the options and hitting 'return/enter' or tab, didn't change it either.

[2020-05-18 14:46] mantasster opened #48 "No "Current Document" in dropdown list to when swapping libraries."
When using the plugin, I cannot see "Current Document" when selecting which library to swap.
How to swap for instance, from library to current document symbol which was made local?

[2020-07-09 16:06] himynameisubik opened #49 "Create Inventory Page adds all symbols from all libraries"
**Issue:**
When using the "Create Inventory Page" the new artboard created has all(?) symbols in the linked/used libraries

**Expected behavior:**
An artboard with only the symbols of the selected/clicked library is created

Also thanks a lot for this plugin (and also Symbol Instance Locator) two really great plugins!

[2020-12-02 10:33] fabianbolte opened #50 "Dialog not large enough on macOS Big Sur"
When I was trying the function to swap libraries, there is not enough space to show all used libraries in the dialog. See screenshot attached.
<img width="333" alt="CleanShot 2020-12-02 at 11 31 06@2x" src="https://user-images.githubusercontent.com/40394373/100861356-00e7e880-3492-11eb-97c0-fbc05a06184c.png">

[2020-12-16 14:59] jonasschuetz opened #51 "Crashing on Apple Silicon / M1 Chip Macs"
The plugin keeps on crashing on my M1 Mac when choosing to swap selected symbols. It crashes Sketch too, so that is a bit unfortunate.

[2021-01-24 10:33] YonatanKof opened #52 "Can't scroll all the way down"
Hi Jason,
Thank you for the awesome plugin 👍

The _Symbol Swap Libraries_ command window shows just more then 3 libraries in view (see attached).
**The issue** - if there's more then 3 libraries the window doesn't scroll all the way down - effectively leaving the user without the ability to update the last library.
The window doesn't resize nor is it affected by the number of libraries (if more th

[2021-01-24 10:35] YonatanKof commented on #52
I think it might by the same issue as [this one](https://github.com/sonburn/symbol-swapper/issues/50#issue-755149237)

[2021-03-01 13:21] thais-pixies commented on #52
It was driving me crazy!
Good news, I found a workaround: Change your mac settings to "Always show scroll bar". Go to System Preferences/General/Show scroll bars: Always.
I hope it helps.

[2021-03-01 13:22] thais-pixies commented on #50
It was driving me crazy!
Good news, I found a workaround: Change your mac settings to "Always show scroll bar". Go to System Preferences/General/Show scroll bars: Always.
I hope it helps.

[2021-03-02 07:54] maxrudberg commented on #51
I can confirm this, crashes on my M1 Mac mini as soon as I select 'Symbol Swap Selections'. Symbol Swap Libraries seems to work fine.

[2021-03-02 10:31] YonatanKof commented on #52
That's awesome
My workaround was to fiddle with the plugin's code till I got everything in view 🤦

[2021-03-17 13:11] Giovanifiori opened #53 "Crashing on "Symbol swap selections""
Every time I select "Symbol swap selections", Sketch crashes and I have to reopen it. Sketch and the plugin are all up to date. Mac Bigsur v11.2.3

[2021-03-22 19:24] gereec-t opened #54 "Scrollview does not go till the end of the list"
When using symbol-swapper on Sketch 71, if a user has multiple libraries to swap, the last one in the list cannot be accessed as the scrollview ends before it.

[2021-04-01 12:38] ianmurchison opened #55 "Feature request - Swapping nested symbols"
So we are trying to figure out the best way to handle a designers task of going from light to dark theme artboards.

We have a full light theme library. (Library A)
We have a full dark theme library which is actually just restyling the light theme one. (Library B)

Teams make product level libraries composed of symbols from the light theme library. (Library C)

When you try to symbol swap from and

[2021-05-06 22:34] jordanborth opened #56 "Compatibility issues with Sketch 72"
Symbol Swapper doesn't appear to be compatible with Sketch 72. After clicking `Swap`, the panel disappears, but nothing happens, regardless of the options I have chosen.

[2021-05-10 23:20] mohanvamsi219 opened #57 "Not working in Sketch Version 72.1 (124357)"
Not working in Sketch Version 72.1 (124357)

[2021-05-12 03:43] sonburn commented on #56
@jordanborth Just published a fix, can you give it a shot?

[2021-05-12 03:44] sonburn commented on #57
Duplicate of #56.

[2021-05-12 03:44] #57 closed

[2021-05-12 04:01] custa1200 opened #58 "Scrolling Issue on v72"
Hi I wrote this up on the wrong plugin (symbol-finder), so here goes in the right spot. When I go to the UI for Symbol swapper I am unable to scroll to the bottom of the list. I can kinda get to it if I am scrolling down and it is rubber banding while I click on the just peeking out select list. Have included a gif
![CleanShot 2021-05-12 at 13 57 36](https://user-images.githubusercontent.com/16122

[2021-05-12 12:05] michaelahokas opened #59 "The list of symbols is too narrow for symbols with longer names"
As you can see in this example, if your symbol names are longer and differ by the end of the name you can't differentiate them. Makes using Symbol Swapper pretty impractical.

<img width="333" alt="Screen Shot 2021-05-12 at 2 03 32 pm" src="https://user-images.githubusercontent.com/8209164/117972020-e6f8de80-b32a-11eb-8d4d-831e384a287e.png">

[2021-05-12 12:46] sonburn commented on #59
@michaelahokas If you rest over any of those items, it should show the full name, but there _is_ a small delay which is understandably annoying if trying to zero in on an item in particular. I can look into increasing the width of the panel.

[2021-05-12 19:42] #56 closed

[2021-05-20 15:10] clairedenning commented on #11
This is a regular issue for me. Is there any way to locate these foreign symbols so that they can be swapped manually?

[2021-06-02 08:49] marker84 opened #60 "Swap Libraries: Unable to scroll to last library on the list"
Hi there,
Firstly, I love your plugin and it's been such a life saver keeping my libraries and symbols in order, so thank you for creating it!
However, I have an issue where if I use the 'Swap Libraries' feature I can't scroll to the last library for some reason. I had symbos from 6 libraries and was unable to the last one. I then replaced all the symbols for one library so I'm now down to 5 libra

[2021-06-19 04:36] sonburn commented on #60
@marker84 I finally got a chance to fix this issue, thank you for your patience. Please update to the latest version, and let me know if it works for you.

[2021-06-19 04:37] sonburn commented on #58
@custa1200 I finally got a chance to fix this issue, please update to the latest version and let me know if it works for you.

[2021-06-25 11:09] custa1200 commented on #58
Fixed

[2021-06-25 11:09] #58 closed

[2021-07-08 19:29] wilarrazaWM opened #61 "Problems with Abstract library swapping"
The [Abstract](https://help.abstract.com/hc/en-us/articles/360049926832) sketch service recommends this swapper to manage libraries. The one issue I see the selection of a Library from another project after transitioning. After running the swap no symbols were changed by the same name.

Also afterward the remaining symbols modal was buggy with the background being transparent.

Sketch Version 73.1

[2022-03-29 03:31] killo3 opened #62 "All crashing in Sketch 85"
It keeps crashing the Sketch 85.
Please update to support, Thanks.